body{
	background-color: #eee;
}
h1{
	text-align: center;
}
.btn{
	padding-top: 5%;
	padding-left: 30%;
}
form{
	display: block;
	position: relative;
	width: 400px;
	height: 600px;
	background: #fff;
	margin: 40px auto;
	padding: 30px;
}