body{
	background: url('../img/1.png'); ;
	font-family: Arial;
	color: #fff;
}

h1{
	text-align: center;
}

.btn{
	padding-top: 5%;
	padding-left: 20%;
}

form{
	display: block;
	position: relative;
	width: 400px;
	height: 80%;
	background: rgba(0,0,0,.5);
	margin: 40px auto;
	padding: 30px;
}

.from input{
	border: none;
	background: none;
	border-bottom: 1px solid #fff;
	transition: 300ms;
	color: #fff;
}
.from input:focus{
	outline: none;
	border-bottom: 3px solid #00aced;
}

textarea{
	border-radius: 7px;
}

label{
	font-size: 16px;
}

select{
	width: 95%;
	border-radius: 3px;
}

button{
	background-color: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding:16px 32px;
    border-radius: 8px;
    transition: 300ms;
}
.a:hover{
	background-color: #4CAF50;
}
.b:hover{
	background-color: #f44336;
}


